{{extend 'layout.html'}}    
<html>
<link rel="stylesheet" href="{{=URL('static','css/style.css')}}">

<body id="index">
    <h2><u>About <i>SlugArt</i></u></h2>
    <p>
        SlugArt was created by a group of UCSC enthusiast. Three highly skilled computer science students decided to join together on a project to develop a web application targeted for the UCSC student/alumni audience. When the website was finally finished it had a new target, the world. </p>
 <p>
     This website is designed for any photographer, artist, or digital artist who would like to upload, share, and potentially sell their work with anyone around the globe. Anyone can join for free and be a part of a vast emerging community that supports their artists to their fullest. 
    </p>

</body>
</html>
