{{extend 'layout.html'}}    
<html>
<link rel="stylesheet" href="{{=URL('static','css/style.css')}}">

<body id="index">
    <h2><u>Privacy Policy</u></h2>
    Effective date: December 1st, 2013<br/>
    <br/>
    <p>
       Here at SlugArt we take your privacy seriously; we've built our service around your 
    privacy, after all. Our privacy policy explains how your information is collected, used 
    and disclosed by SlugArt and any of our affiliated groups when you use out website, 
    mobile applications and other online services and products. 
    </p>
    <p>
        Our policy may change from time to time. If changes are made we will notify you by 
    changing the date at the top of the policy page and, in some circumstances, we may 
    provide you supplementary notice (such as adding a statement on our websites' front page, 
    or sending users notifications). We encourage all our users to review the Privacy Policy 
    whenever they access our services in order to stay briefed about our information
    practices. By using our services you understand and agree that we are providing a 
    platform for our users to post content to the Service.
    </p>
    <br/><br/><br/>

    <h3>
        Collection of Information 
    </h3>
    <br/>
    <h4>
        Information You Provide to Us 
    </h4>

    <br/>
    <p>
            We collect information you provide directly to us. The types of information we 
        may collect include your username, password, email address, phone number, age and any 
        other information you choose to provide. 
        
        When you upload images, we also temporarily collect, process and store the 
        contents of the image (such as photos and/or captions) on our servers. The 
        contents of Images are also stored on the devices of recipients. 
    </p>

    <br/><br/>
    <h4>
        Information We Collect Automatically When You Use the Services
    </h4>
    <br/>
    <p>
        When you access or use our Services, we automatically collect information about you, 
including: 
    </p>
    <ul>
        <li><b>Usage Information: </b>When you upload images, we collect information 
about these assets, including the time, date, and sender. We also collect information about the number of images uploaded.</li>
        <li><b>Log Information: </b>We log information about your use of our websites, including your 
browser type and language, access times, pages viewed, your IP address and the 
website you visited before navigating to our websites.</li>
        <li><b>Device Information: </b>We may collect information about the computer or device you 

use to access our Services, including the hardware model, operating system and 
version, MAC address, unique device identifier, phone number, International 
Mobile Equipment Identity ("IMEI") and mobile network information. In addition, 
the Services may access your device's native phonebook and image storage 
applications, with your consent, to facilitate your use of certain features of the 
Services. For more information about how you can control our access to these 
applications, please see "Your Choices" below.</li>
    
        <li><b>Information Collected by Cookies and Other Tracking Technologies: </b>We use 
various technologies to collect information, and this may include sending cookies 
to you. Cookies are small data files stored on your hard drive or in device memory 
that help us to improve our Services and your experience, see which areas and 
features of our Services are popular and count visits. We may also collect 
information using web beacons (also known as "tracking pixels"). For more 
information about cookies, and how to disable them, please see "Your Choices" 
below.</li>
    </ul> 

    <br/><br/><br/>
    <h4>
        Information We Collect From Other Sources
    </h4>

 <p>
     We may also obtain information from other sources and combine that with information 
we collect through our Services.
    </p>
    <br/>
 <h3>
     Use of Information
    </h3> 
    <p>
        We may use information about you for various purposes, including to: 
    </p>
    <ul>
        <li>Provide, maintain and improve our Services;</li>
        <li>Help you access your information efficiently after log in </li>
        <li>Remember log in information so you do not need to re-enter during subsequent visits to 
the service </li>
        <li>Provide and deliver the products and services you request, process transactions and 
send you related information;</li>
        <li>Respond to your comments, questions and requests and provide customer service;</li>
        <li>Send you technical notices, updates, security alerts and support and administrative 
messages;</li>
        <li>Communicate with you about products, services, offers, promotions, rewards, and 
events offered by SlugArt and others, and provide news and information we 
think will be of interest to you;</li>
        <li>Monitor and analyze trends, usage and activities in connection with our Services;</li>
        <li>Personalize and improve the Services and provide advertisements, content or features</li>
        <li>Link or combine with information we get from others to help understand your needs</li>
        <li>Detect, investigate and/or prevent fraudulent, unauthorized or illegal activity; and</li>
        <li>Carry out any other purpose for which the information was collected.</li>
    </ul>
    <br/><br/><br/>
    <p>
        SlugArt is based in the United States and U.S. law governs the information we collect. 
        By accessing or using the Services or otherwise providing information to us, you consent 
        to the processing and transfer of information in and to the U.S. and other countries.
    </p>
       <h4>
          Sharing of Information  
    </h4> 
    <p>
        We may share information about you as follows or as otherwise described in this Privacy 
        Policy:
    </p>
        <ul>
            <li>With other users when you upload images, including your username 
and the contents of the image you send them. We also share your 
username with other users when they purchase your image;</li>
            <li>With users and others who view your in-app profile or website profile, 
which includes your username, and a list of the images that have been uploaded; </li>
            <li>With vendors, consultants and other service providers who need access to 
such information to carry out work on our behalf;</li>
            <li>In response to legal process or a request for information if we believe 
disclosure is in accordance with any applicable law, rule, or regulation, or 
as otherwise required by any applicable law, rule or regulation; </li>
            <li>In order to investigate or remedy potential violations of our user 
agreements or policies, or to protect the rights, property and safety of 
SlugArt, our users or others;</li>
            <li>In connection with, or during negotiations of, any merger, sale of company 
assets, financing or acquisition of all or a portion of our business to 
another company; and</li>
            <li>With your consent or at your direction.</li>
    </ul>
   <p>
       We may also share aggregated or de-identified information, which cannot reasonably be 
used to identify you. 
    </p>
    <br/>
<h3>
    YOUR CHOICES ABOUT YOUR INFORMATION 
    </h3>
    <br/>
    <p>
        <b>Your account information and profile/privacy settings:</b>
    </p>
     <ul>
         <li>Update your account at any time by logging in and changing your profile settings.</li>
         <li>Unsubscribe from email communications from us by clicking on the "unsubscribe link" provided in such communications. As noted above, you may not opt out of Service-
related communications (e.g., account verification, purchase and billing confirmations 
and reminders, changes/updates to features of the Service, technical and security notices).</li>
    </ul>
    <br/><br/>
    <h4>
        Analytics Services Provided by Others 
    </h4>
<p>
        We may allow others to provide analytics services on our behalf. These entities may use 
cookies, web beacons and other technologies to collect information about your use of the 
Services and other websites, including your IP address, web browser, pages viewed, time 
spent on pages, links clicked and conversion information. This information may be used 
to, among other things, analyze and track data, determine the popularity of certain content 
and better understand your online activity.
    </p>
<h4>
        Security 
    </h4>
    <p>
            We take reasonable measures to help protect information about you from loss, theft, 
misuse and unauthorized access, disclosure, alteration and destruction.
    </p>
 <ul>
     <li>We use commercially reasonable safeguards to help keep the information collected through 
the Service secure and take reasonable steps (such as requesting a unique password) to 
verify your identity before granting you access to your account. However, SlugArt 
cannot ensure the security of any information you transmit to SlugArt or guarantee that 
information on the Service may not be accessed, disclosed, altered, or destroyed.</li>
     <li>Please do your part to help us. You are responsible for maintaining the secrecy of your 
unique password and account information, and for controlling access to emails between 
you and SlugArt, at all times. Your privacy settings may also be affected by changes the 
social media services you connect to SlugArt make to their services. We are not 
responsible for the functionality, privacy, or security measures of any other organization.</li>
    </ul> 
    <br/><br/>
    <h4>
        Children
    </h4> 
<p>
    We do not knowingly collect personal information from users under the age of thirteen. 
We do, however, allow children under the age of thirteen to use certain areas or features 
of our Services that do not involve the collection of user information, aside from certain 
device information that may be collected as necessary to the operation and support of the 
Services
    </p>
    <br/><br/>
<h3>
        Your Choices
    </h3>
    <br/>
    <h4>
         Cookies 
    </h4>
<p>
    Most web browsers are set to accept cookies by default. If you prefer, you can usually 
choose to set your browser to remove or reject browser cookies. Please note that if you 
choose to remove or reject cookies, this could affect the availability and functionality of 
our website.
    </p> 
    <br/><br/>
</body>
</html>
